<script setup lang="ts">
import TextCell from 'ambient/src/cells/TextCell.vue';
import Scaffolding from 'ambient/src/containers/Scaffolding.vue';
import SecondaryButton from 'ambient/src/controls/SecondaryButton.vue';



</script>

<template>
    <Scaffolding :pad-content="false">
        <div class='add-to-homescreen'>
            <img class='background' src="/icons/homescreen.png" />
            <div class="buttons">
                <TextCell text="Install VStock" class="am-title am-strong"></TextCell>
                <TextCell text='Tap on share and select "Add to Home Screen"' class="am-lead"></TextCell>
                <SecondaryButton text="Proceed anyway" on-tap="navigation::drop-context"></SecondaryButton>
            </div>
        </div>
    </Scaffolding>
</template>

<style lang="scss" scoped>
.add-to-homescreen {
    display: flex;
    position: relative;

    height: 100%;

    .background {
        position: absolute;
        width: 80%;
        left: 10%;
        top: 15%;
    }

    .am-button {
        margin-top: var(--units-control-base);
    }

    .buttons {
        display: flex;
        position: absolute;
        flex-direction: column;
        justify-content: flex-start;
        justify-content: center;
        gap: var(--units-control-spacing);

        left: 0;
        right: 0;
        bottom: 0;

        background: linear-gradient(to bottom, rgba(0,0,0,0.0), var(--container-background) 100px, var(--container-background));

        padding: var(--units-control-pad-h) var(--units-control-pad-h);
        padding-bottom: calc(var(--units-control-pad-h) + var(--units-safe-bottom));
        padding-top: calc(2 * var(--units-control-pad-h) + 100px);
    }
}
</style>