<script setup lang="ts">
import TextCell from 'ambient/src/cells/TextCell.vue';
import HeroHeader from 'ambient/src/containers/HeroHeader.vue';
import Scaffolding from 'ambient/src/containers/Scaffolding.vue';
import PrimaryButton from 'ambient/src/controls/PrimaryButton.vue';
import ProgressBar from 'ambient/src/controls/ProgressBar.vue';
import SecondaryButton from 'ambient/src/controls/SecondaryButton.vue';
import TextBox from 'ambient/src/controls/TextBox.vue';
import { newTrigger, trigger, useActionBus } from '@am/traits/ActionBus';
import { replace } from 'ambient/src/traits/Formatter';
import { getText } from 'ambient/src/traits/l18n';
import { computed, ref } from 'vue';
import { saveDiscoveryServer, setOnboardingState } from '../../controller/Preferences';
import { registerServer, validateUrl } from '../../controller/Server';
import { NavigationAction } from 'ambient/src/traits/Navigation';
import FormBox from 'ambient/src/containers/FormBox.vue';
import FormSection from 'ambient/src/containers/FormSection.vue';

const actionBus = useActionBus()

enum ErrorType {
    InvalidUrl,
    ConnectionRefused,
    NotMastodon,
}

const loading = ref(false)
const blurTrigger = newTrigger()
const currentError = ref<ErrorType|undefined>(undefined)
const defaultServer = "mastodon.social"
var serverUrl = defaultServer

const serverPlaceholderTextRaw = getText(ref("default-server-textbox"))
const serverPlaceholderText = computed(() => {
    return replace(defaultServer)(serverPlaceholderTextRaw.value)
})

function updateServerUrl(url: string) {
    serverUrl = url
}

async function connectServer() {
    trigger(blurTrigger)
    if (serverUrl == "") serverUrl = defaultServer
    if (!validateUrl(serverUrl)) {
        currentError.value = ErrorType.InvalidUrl
        return
    }
    loading.value = true
    currentError.value = undefined
    try {
        const server = await registerServer(serverUrl)
        if (server.type != 'mastodon') {
            currentError.value = ErrorType.NotMastodon
        } else {
            saveDiscoveryServer(server)
        }
    } catch(_) {
        currentError.value = ErrorType.ConnectionRefused
    }
    loading.value = false
    if (currentError.value == undefined) {
        nextPage()
    }
}

function nextPage() {
    setOnboardingState("1.0.0")
    actionBus.send(NavigationAction.Push, { view: 'onboarding-licenses' })
}

</script>

<template>
    <Scaffolding header="hero">
        <template #header>
            <HeroHeader text-key="discovery-server"></HeroHeader>
        </template>
        <template #default>
            <FormBox>
                <FormSection>
                    <template #description>
                        <TextCell class="am-lead" text-key="discovery-server::1"></TextCell>
                        <TextCell class="am-lead" text-key="discovery-server::2"></TextCell>
                    </template>
                    <template #default>
                        <TextBox 
                            :placeholder="serverPlaceholderText" 
                            :blur="blurTrigger"
                            :on-change="updateServerUrl"
                            ></TextBox>
                    </template>
                </FormSection>
                
                <ProgressBar v-if="loading"></ProgressBar>
                <div class="error" v-if="currentError == ErrorType.InvalidUrl">
                    <TextCell text-key="error-invalid-server-url" class="am-strong"></TextCell>
                    <TextCell text-key="error-invalid-server-url::1" :formatter="replace(defaultServer)" class="am-lead"></TextCell>
                </div>
                <div class="error" v-if="currentError == ErrorType.ConnectionRefused">
                    <TextCell text-key="error-connection-refused" class="am-strong"></TextCell>
                    <TextCell text-key="error-connection-refused::1" class="am-lead"></TextCell>
                </div>
                <div class="error" v-if="currentError == ErrorType.NotMastodon">
                    <TextCell text-key="error-not-mastodon" class="am-strong"></TextCell>
                    <TextCell text-key="discovery-server::2" class="am-lead"></TextCell>
                </div>
                <PrimaryButton 
                    v-if="!loading" 
                    text-key="connect"
                    :on-tap="connectServer"
                    ></PrimaryButton>
                <SecondaryButton 
                    v-if="!loading" 
                    text-key="dont-use-discovery-server"
                    :on-tap="nextPage"
                    ></SecondaryButton>

            </FormBox>
        </template>
    </Scaffolding>
</template>

<style lang='scss' scoped>
@use '@am/theme/colors.module.scss' as colors;
.server-options {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    gap: calc(2 * var(--units-control-spacing));

    .am-text-box {
        align-self: stretch;
    }
    .am-button-primary {
        min-width: 60%;
    }
    .am-button-secondary {
        margin-top: var(--units-control-base);
        align-self: stretch;
    }
    .am-progress-bar {
        align-self: stretch;
    }
}
.error {
    display: flex;
    align-self: stretch;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: var(--units-control-spacing);

    background: var(--scheme-danger-500);
    color: var(--scheme-danger-500-t);

    padding: var(--units-control-pad-v) var(--units-control-pad-h);
    border-radius: var(--units-control-corner);

}
</style>