<script setup lang="ts">
import TextCell from 'ambient/src/cells/TextCell.vue';
import HeroHeader from 'ambient/src/containers/HeroHeader.vue';
import Scaffolding from 'ambient/src/containers/Scaffolding.vue';
import PrimaryButton from 'ambient/src/controls/PrimaryButton.vue';
</script>

<template>
    <Scaffolding header="hero">
        <template #header>
            <HeroHeader text-key="respect-licenses"></HeroHeader>
        </template>
        <template #default>
            <div class="onboarding">
                <TextCell
                    text-key="licenses::1"
                    class="am-lead"
                    ></TextCell>
                <TextCell
                    text-key="licenses::2"
                    class="am-lead"
                    ></TextCell>
                <TextCell
                    text-key="licenses::3"
                    class="am-lead"
                    ></TextCell>
                <PrimaryButton text="Start" on-tap="navigation::drop-context"></PrimaryButton>
            </div>
        </template>
    </Scaffolding>
</template>

<style lang="scss" scoped>
.onboarding {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: var(--units-control-spacing);

    .am-button-primary {
        margin-top: calc(2 * var(--units-control-spacing));
    }
}
</style>