<script setup lang="ts">
import PrimaryButton from 'ambient/src/controls/PrimaryButton.vue';
import { useActionBus } from '@am/traits/ActionBus';
import { NavigationAction } from 'ambient/src/traits/Navigation';
import Scaffolding from 'ambient/src/containers/Scaffolding.vue';
import SecondaryButton from 'ambient/src/controls/SecondaryButton.vue';
import { FilterIcon, LanguagesIcon, SearchIcon, UsersIcon } from 'lucide-vue-next';
import Menu, { newMenu } from 'ambient/src/containers/Menu.vue';
import { getPreferredLanguage, setPreferredLanguage } from '../../controller/Preferences';
import { computed } from 'vue';
import TextCell from 'ambient/src/cells/TextCell.vue';
import AppFunction from '../../components/AppFunction.vue';

const actionBus = useActionBus()


function nextPage() {
    actionBus.send(NavigationAction.Push, { view: 'onboarding-server' })
}

const languages = [
    {
        textKey: 'en',
        actionData: 'en',
        onTap: switchLanguage,
    },
    {
        textKey: 'de',
        actionData: 'de',
        onTap: switchLanguage,
    }
]
const preferredLanguage = getPreferredLanguage() ?? navigator.language
const currentLanguage = computed(() => {
    if (/^de/.test(preferredLanguage)) return 'de'
    else return 'en'
})
const languageMenu = newMenu()
function openLanguageMenu(_: any, event: PointerEvent) {
    languageMenu.value.open(event)
}

function switchLanguage(lang: string) {
    setPreferredLanguage(lang)
    location.reload()
}

</script>

<template>
    <Scaffolding>
        <template #default>
            <div class="onboarding">
                <div class="icon">
                    <img src="/icons/icon.png" />
                </div>
                <TextCell kind="heading" text="VStock" class="am-title am-strong"></TextCell>
                <AppFunction text-key="app-functions::1" :icon="SearchIcon"></AppFunction>
                <AppFunction text-key="app-functions::2" :icon="UsersIcon"></AppFunction>
                <AppFunction text-key="app-functions::3" :icon="FilterIcon"></AppFunction>
                
                <PrimaryButton text-key="next" :on-tap="nextPage"></PrimaryButton>
            </div>
            <SecondaryButton 
                :icon="LanguagesIcon" 
                class="language-selector"
                :text-key="currentLanguage"
                :on-tap="openLanguageMenu"
                ></SecondaryButton>
        </template>
    </Scaffolding>

    <Menu :items="languages" :controller="languageMenu"></Menu>
</template>

<style lang="scss" scoped>
.onboarding {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: calc(2 * var(--units-control-spacing));

    margin-top: calc(var(--units-safe-top) + 2.5 * var(--units-control-base));
    margin-bottom: calc(var(--units-safe-bottom) + var(--units-control-pad-v));

    .am-title {
        text-align: center;
        margin-bottom: var(--units-control-spacing);
    }

    .am-button-primary {
        margin-top: calc(2 * var(--units-control-spacing));
    }
}
.language-selector {
    position: absolute;
    left: var(--units-control-pad-h);
    bottom: calc(var(--units-safe-bottom) + var(--units-control-pad-v));
}
.icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    img {
        max-width: 150px;
        width: 50%;
        border-radius: calc(2 * var(--units-control-corner));
    }
}
</style>