<script setup lang="ts">
import Scaffolding from 'ambient/src/containers/Scaffolding.vue';
import Toolbar from 'ambient/src/containers/Toolbar.vue';
import ToolbarGroup from 'ambient/src/containers/ToolbarGroup.vue';
import IconButton from 'ambient/src/controls/IconButton.vue';
import { BookmarkMinusIcon, BookmarkPlusIcon, ChevronLeft, FilterIcon, ImageOffIcon } from 'lucide-vue-next';
import { computed, onMounted, ref } from 'vue';
import ImageGrid from '../components/ImageGrid.vue';
import { Post } from '../controller/Post';
import { forgetTag, getPhotographers, getPreferredView, getTags, saveTag, setPreferredView } from '../controller/Preferences';
import { Timeline } from '../controller/Timeline';
import ActionButton from 'ambient/src/controls/ActionButton.vue';
import TextCell from 'ambient/src/cells/TextCell.vue';
import { NavigationAction } from 'ambient/src/traits/Navigation';
import { useActionBus } from 'ambient/src/traits/ActionBus';
import FilterSelectionSheet from '../components/FilterSelectionSheet.vue';
import { compatibleLicense, License } from '../controller/License';
import ProgressBar from 'ambient/src/controls/ProgressBar.vue';
import IconCell from 'ambient/src/cells/IconCell.vue';
import { replace } from 'ambient/src/traits/Formatter';
import ToolbarTitle from 'ambient/src/controls/ToolbarTitle.vue';

const actionBus = useActionBus()

const props = defineProps<{
    collection: string
}>()

const posts = ref<Post[]>([])
const loading = ref(false)
const isBookmarked = ref(false)
const showFilter = ref(false)

const lastPosts = <{[key: string]: string}>{}

const currentView = ref(getPreferredView())
const currentFilter = ref<License>('C')

const filteredPosts = computed(() => {
    return posts.value.filter(p => compatibleLicense(p.attachment.license, currentFilter.value))
})

const hiddenPostsNum = computed(() => {
    return posts.value.length - filteredPosts.value.length
})

async function updatePosts(options?: {olderThanId: {[key: string]: string}}) {
    if (props.collection == undefined) return
    const timeline = new Timeline(getPhotographers())

    loading.value = true
    timeline.loadCollection(props.collection, options ?? {}, (p, photographer,  _, isLastResult) => {
        posts.value.splice(posts.value.length, 0, ...p)
        if (p.length > 0) lastPosts[photographer.name] = p[p.length-1].id
        if (isLastResult) loading.value = false
    })
}

function loadMore() {
    updatePosts({olderThanId: lastPosts})
}

function toggleBookmark() {
    if (isBookmarked.value) {
        forgetTag(props.collection!)
        isBookmarked.value = false
    } else {
        saveTag(props.collection!)
        isBookmarked.value = true
    }
}

onMounted(() => {
    updatePosts()
    posts.value = []
    isBookmarked.value = getTags().includes(props.collection)
})

function openPost(post: Post) {
    actionBus.send(NavigationAction.Push, {
        view: 'detail',
        data: {post},
    })
}

function changeFilter(license: License) {
    currentFilter.value = license
    showFilter.value = false
}

function changeView(view: 'landscape'|'portrait'|'square') {
    currentView.value = view
    setPreferredView(view)
    showFilter.value = false
}

</script>

<template>

    <Scaffolding :toolbar="true" :pad-content="false">
        <template #toolbar>
            <Toolbar>
                <ToolbarGroup>
                    <IconButton :icon="ChevronLeft" text-key="back" on-tap="navigation::back"></IconButton>
                    <ToolbarTitle :text="props.collection"></ToolbarTitle>
                </ToolbarGroup>
                <ToolbarGroup style="min-width: auto;">
                    <IconButton :icon="FilterIcon" text-key="filter" :on-tap="() => showFilter = true"></IconButton>
                    <IconButton 
                        :icon="isBookmarked ? BookmarkMinusIcon : BookmarkPlusIcon" 
                        :text-key="isBookmarked ? 'forget-tag' : 'save-tag'"
                        :on-tap="toggleBookmark"></IconButton>
                </ToolbarGroup>
            </Toolbar>
        </template>
        <template #default>
            <div class="collection-view">
                <ImageGrid 
                    :posts="filteredPosts"
                    :view="currentView"
                    :on-tap="openPost"
                    class="collection-grid"
                    ></ImageGrid>
                <div class="collection-hint" v-if="!loading && posts.length == 0">
                    <IconCell :icon="ImageOffIcon"></IconCell>
                    <TextCell
                        text-key="collection-empty"
                        :formatter="replace(collection)"
                        class="am-lead"></TextCell>
                </div>
                <TextCell 
                    v-if="hiddenPostsNum != 0" 
                    class="hidden-posts"
                    text-key="hidden-posts"
                    :formatter="replace(hiddenPostsNum)"
                    ></TextCell>
                <ProgressBar v-if="loading"></ProgressBar>
                <ActionButton 
                    v-if="!loading"
                    class="load-more"
                    text-key="load-more"
                    :on-tap="loadMore"
                    ></ActionButton>
            </div>
        </template>
    </Scaffolding>

    <FilterSelectionSheet 
        :show="showFilter"
        :on-close="() => showFilter = false"
        :view="currentView"
        :license="currentFilter"
        :on-change-license="changeFilter"
        :on-change-view="changeView"
        ></FilterSelectionSheet>

</template>

<style lang="scss" scoped>
@use "@am/theme/font.module.scss" as font;
.collection-view {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    padding-bottom: calc(var(--units-control-pad-h) + var(--units-safe-bottom));
    flex-grow: 1;
    min-height: 100%;
    
    .am-progress-bar {
        margin: var(--units-control-pad-v) var(--units-control-pad-h);
    }
}
.hidden-posts {
    margin: var(--units-control-pad-v) var(--units-control-pad-h);
}
.load-more {
    margin: var(--units-control-pad-v) var(--units-control-pad-h);
}

.collection-hint {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(0.5 * var(--units-control-base));
    flex-grow: 1;
    margin: var(--units-control-pad-v) var(--units-control-pad-h);

    svg {
        flex-shrink: 0;
        width: var(--units-control-base);
        height: var(--units-control-base);
    }

    .am-lead {
        margin: 0;
        font-style: italic;
        @include font.lead;
        @include font.secondary;
        text-align: center;
    }
}
</style>