<script setup lang="ts">
import MenuButton from 'ambient/src/controls/MenuButton.vue';
import Pager from 'ambient/src/controls/Pager.vue';
import PrimaryButton from 'ambient/src/controls/PrimaryButton.vue';
import { ChevronLeft, UserIcon, VenetianMaskIcon } from 'lucide-vue-next';
import ConnectButton from '../components/ConnectButton.vue';

</script>

<template>
    <header>
        <MenuButton :icon="ChevronLeft"></MenuButton>
    </header>

    <main>
        <input type="url" value="https://" />
        <PrimaryButton text="Connect Server"></PrimaryButton>

        <ConnectButton
            :icon="VenetianMaskIcon"
            title="Connect anonymously"
            description="You do not need an account on this server. But some functions may not be available."></ConnectButton>

        <ConnectButton
            :icon="UserIcon"
            title="Connect with Account"
            description="Your activity is directly linked to your account."></ConnectButton>

    </main>

    <footer>
        <Pager :steps="5" :current-step="1"></Pager>
    </footer>
</template>

<style lang="scss" scoped>
@use "@am/theme/colors.module.scss" as colors;
@use "@am/theme/controls.module.scss" as controls;
@use "@am/theme/font.module.scss" as font;
header {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0;

    padding: var(--units-control-pad-v) var(--units-control-pad-h);
}

footer {
    position: absolute; 
    bottom: 0; 
    left: 0; 
    right: 0;

    padding: var(--units-control-pad-v) var(--units-control-pad-h);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: calc(2 * var(--units-control-base));
    gap: calc(2 * var(--units-control-spacing));

    input {
        @include controls.control();
        @include font.init();

        appearance: none;
        position: relative;
        
        @include colors.apply-shade('a', 1000);
        border: var(--units-control-border) solid var(--container-background);

        width: 90%;
        max-width: calc(10 * var(--units-control-base));

        transition: 0.3s ease-in-out;
    }
}
</style>