<script setup lang="ts">
import Scaffolding from 'ambient/src/containers/Scaffolding.vue';
import Toolbar from 'ambient/src/containers/Toolbar.vue';
import ToolbarGroup from 'ambient/src/containers/ToolbarGroup.vue';
import IconButton from 'ambient/src/controls/IconButton.vue';
import PrimaryButton from 'ambient/src/controls/PrimaryButton.vue';
import ProgressBar from 'ambient/src/controls/ProgressBar.vue';
import { useActionBus } from 'ambient/src/traits/ActionBus';
import { NavigationAction } from 'ambient/src/traits/Navigation';
import { ChevronLeft, DownloadCloudIcon, ShareIcon } from 'lucide-vue-next';
import { onMounted, ref, watch } from 'vue';
import LicenseCard from '../components/LicenseCard.vue';
import PhotographerCard from '../components/PhotographerCard.vue';
import { Post } from '../controller/Post';

const actionBus = useActionBus()

const props = defineProps<{
    post: Post
}>()

enum DownloadState {
    Unknown,
    DirectSharing,
    IndirectDownload,
}

const image = ref<HTMLImageElement|undefined>(undefined)
const downloadState = ref(DownloadState.Unknown)
let shareFile = <File|undefined>undefined

async function loadCORS() {
    const response = await fetch(props.post.attachment.url!, {
        mode: 'cors'
    })
    const blob = await response.blob()
    shareFile = new File([blob], 'image.jpg', {type: blob.type})
}

async function loadShare() {
    if ('canShare' in navigator) {
        try {
            await loadCORS()
            downloadState.value = DownloadState.DirectSharing
        } catch(_) {
            downloadState.value = DownloadState.IndirectDownload
        }
    } else {
        downloadState.value = DownloadState.IndirectDownload
    }
}

async function sharePhoto() {
    if (downloadState.value == DownloadState.DirectSharing) {
        navigator.share({
            title: "Picture",
            files: [shareFile!]
        })
    } else if (downloadState.value == DownloadState.IndirectDownload) {
        window.open(props.post.attachment.url!, '_blank')
    }
}

const contentElement = ref<HTMLDivElement|undefined>(undefined)
const descriptionElement = ref<HTMLDivElement|undefined>(undefined)

watch(contentElement, () => {
    if (contentElement.value == undefined) return
    activateLinks(contentElement.value)
})

watch(descriptionElement, () => {
    if (descriptionElement.value == undefined) return
    activateLinks(descriptionElement.value)
})

function activateLinks(element: HTMLElement) {
    element.querySelectorAll('.hashtag').forEach(e => {
        e.addEventListener('click', evt => {
            evt.preventDefault()
            const tag = (evt.target as HTMLElement).textContent
            if (tag == null) return
            openCollection(tag?.substring(0, 1) == '#' ? tag.substring(1) : tag)
        })
    })
    element.querySelectorAll('.u-url').forEach(e => {
        e.addEventListener('click', evt => evt.preventDefault())
    })
}

function openCollection(tag: string) {
    actionBus.send(NavigationAction.Push, {
        view: 'collection',
        data: {collection: `#${tag}`},
    })
}

onMounted(() => {
    loadShare()
})

</script>

<template>
    <Scaffolding :toolbar="true">

        <template #toolbar>
            <Toolbar>
                <ToolbarGroup>
                    <IconButton :icon="ChevronLeft" text-key="back" on-tap="navigation::back"></IconButton>
                </ToolbarGroup>
                <ToolbarGroup>
                </ToolbarGroup>
            </Toolbar>
        </template>

        <template #default>
            <div class="detail">
                <img 
                    ref="image"
                    v-if="post.attachment.url" 
                    :src="post.attachment.url"
                    :alt="post.attachment.description"
                    />
                <LicenseCard :license="post.attachment.license"></LicenseCard>
                <ProgressBar v-if="downloadState == DownloadState.Unknown"></ProgressBar>
                <div 
                    v-if="downloadState != DownloadState.Unknown" 
                    style="display: flex; flex-direction: row; justify-content: center; align-items: center; margin: 8px;"
                    >
                    <PrimaryButton 
                        v-if="downloadState == DownloadState.DirectSharing" 
                        textKey="use-photo" 
                        :icon="ShareIcon" 
                        :on-tap="sharePhoto"></PrimaryButton>
                    <PrimaryButton 
                        v-if="downloadState == DownloadState.IndirectDownload" 
                        textKey="download-photo" 
                        :icon="DownloadCloudIcon" 
                        :on-tap="sharePhoto"></PrimaryButton>
                </div>
                <div ref="descriptionElement" v-html="post.attachment.description" class="description"></div>
                <div ref="contentElement" v-html="post.content" class='description'></div>
                
                <PhotographerCard :photographer="post.photographer"></PhotographerCard>
            </div>
        </template>

    </Scaffolding>
</template>

<style lang="scss">
@use "@am/theme/font.module.scss" as font;
.detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    gap: var(--units-control-spacing);
    margin-bottom: var(--units-safe-bottom);
    
    & > img {
        width: 100%;
        margin: var(--units-control-spacing) 0;
        border-radius: var(--units-control-corner);
        overflow: hidden;
    }
    a,
    a:visited {
        color: var(--scheme-a-300);
    }
    .description {
        display: block;
        padding: var(--units-control-pad-v) var(--units-control-pad-h);
        @include font.lead;

        a {
            display: none;
            &.mention {
                display: inline;
            }
        }
    }
}
</style>