<script setup lang="ts">
import { useActionBus } from '@am/traits/ActionBus';
import Scaffolding from 'ambient/src/containers/Scaffolding.vue';
import { NavigationAction } from 'ambient/src/traits/Navigation';
import { onMounted, ref } from 'vue';
import PhotographerGrid from '../components/PhotographerGrid.vue';
import { Photographer } from '../controller/Photographer';
import * as preferences from '../controller/Preferences';

const actionBus = useActionBus()

const photographers = ref<Photographer[]>([])
function updatePhotographers() {
    photographers.value = preferences.getPhotographers()
}

function openFindPhotographer() {
    actionBus.send(NavigationAction.OpenContext, {
        frame: {
            view: 'search-photographer',
        },
        hints: [{hint: 'dialog', scaffolding: 'find-photographer'}]
    })
}

onMounted(() => {
    updatePhotographers()
})

preferences.onPhotographersUpdated(updatePhotographers)

</script>

<template>
    <Scaffolding>
        <PhotographerGrid :photographers="photographers" :on-find-photographer="openFindPhotographer"></PhotographerGrid>
    </Scaffolding>
</template>