<script setup lang="ts">
import Scaffolding from 'ambient/src/containers/Scaffolding.vue';
import HeroHeader from 'ambient/src/containers/HeroHeader.vue';
import Pager from 'ambient/src/controls/Pager.vue';
import { match, useActionBus } from '@am/traits/ActionBus';
import { computed } from 'vue';
import NavigationStack from 'ambient/src/containers/NavigationStack.vue';
import { useNavigationGraph } from '@am/traits/NavigationGraph';
import { ChevronLeftIcon, XIcon } from 'lucide-vue-next';

const navigationGraph = useNavigationGraph()
const actionBus = useActionBus()

const currentStep = computed(() => {
    return navigationGraph.graph.value[0].frames.length
})

const currentIcon = computed(() => {
    if (currentStep.value == 1) return XIcon
    else return ChevronLeftIcon
})

actionBus.hook(match({
    "navigate::close": () => {
        actionBus.send("vstock::go-home", null)
        return false
    }
}))

</script>

<template>
    <Scaffolding header="hero">
        <template #header>
            <HeroHeader
                :back-icon="currentIcon"
                text-key="find-photographer"
                ></HeroHeader>
            <Pager :steps="3" :current-step="currentStep"></Pager>
        </template>
        <template #default>

            <div style="display: block; position: relative;">
                <NavigationStack></NavigationStack>
            </div>

        </template>
    </Scaffolding>
</template>

<style scoped lang="scss">
.am-pager {
    margin-top: calc(0.5 * var(--units-control-base));
    margin-top: calc(0.5 * var(--units-control-base) + var(--units-safe-top));
}
</style>