<script setup lang="ts">
import { computed, onActivated, onMounted, ref } from 'vue';

import Scaffolding from '@am/containers/Scaffolding.vue';
import SearchButton from '@am/controls/SearchButton.vue';
import MenuButton from '@am/controls/MenuButton.vue';
import List from '@am/containers/List.vue';
import Toolbar from '@am/containers/Toolbar.vue';
import ToolbarGroup from '@am/containers/ToolbarGroup.vue';

import { BookmarkIcon, SearchIcon, XIcon } from 'lucide-vue-next';
import HashtagListCell from '../components/HashtagListCell.vue';
import PhotographerList from '../components/PhotographerList.vue';
import { type Photographer } from '../controller/Photographer';
import * as preferences from '../controller/Preferences';
import { getPhotographers } from '../controller/Preferences';
import { Timeline } from '../controller/Timeline';
import IconCell from 'ambient/src/cells/IconCell.vue';
import Menu, { newMenu } from 'ambient/src/containers/Menu.vue';
import { newTrigger, trigger, useActionBus } from 'ambient/src/traits/ActionBus';
import { NavigationAction } from 'ambient/src/traits/Navigation';
import TextCell from 'ambient/src/cells/TextCell.vue';

const actionBus = useActionBus()

defineProps<{}>()

const photographers = ref<Photographer[]>([])
function updatePhotographers() {
    photographers.value = preferences.getPhotographers()
}

const savedTags = ref<string[]>([])
const hashtags = computed(() => {
    const tags = searchMode.value == true 
        ? searchResults.value 
        : savedTags.value
    return tags.map(t => {
        return {
            key: t,
            hashtag: t,
        }
    })
})
function updateTags() {
    savedTags.value = preferences.getTags()
}

const searchMode = ref(false)
const searchTerm = ref("")
const searchResults = ref<string[]>([])
const blurSearchTrigger = newTrigger()

function toggleSearchMode() {
    searchMode.value = !searchMode.value
}

function cancelSearchMode() {
    searchMode.value = false
    searchTerm.value = ""
    searchResults.value = []
}

async function updateResults(term: string) {
    searchTerm.value = term
    if (term.length > 3) {
        const timeline = new Timeline(getPhotographers())
        searchResults.value = []
        timeline.loadTags(term, (tags, resultTerm, _, isLastResult) => {
            if (resultTerm != searchTerm.value) return // ignore outdated result
            searchResults.value = [...searchResults.value, ...tags]
                .reduce((p: string[], c, _) => {
                    if (p.includes(c)) return p
                    else return [...p, c]
                }, [])
                .sort((a, b) => a.localeCompare(b))
        })
    }
}

const mainMenu = newMenu()
const menuItems = [
    {
        textKey: "settings",
        onTap: openSettings,
    }
]

function openMenu(_: any, event: any) {
    mainMenu.value.open(event)
}

onMounted(() => {
    updateTags()
    updatePhotographers()
})

onActivated(() => {
    updateTags()
    updatePhotographers()
})

function openCollection(tags: string[]) {
    if (searchMode.value) trigger(blurSearchTrigger)
    if (tags.length < 1) return
    const tag = tags[0].substring(1)
    actionBus.send(NavigationAction.OpenContext, {
        frame: {
            view: 'collection',
            data: {collection: `#${tag}`},
        }
    })
}

function openFindPhotographer() {
    actionBus.send(NavigationAction.OpenContext, {
        frame: {
            view: 'search-photographer',
        },
        hints: [{hint: 'dialog', scaffolding: 'find-photographer'}]
    })
}

function openSettings() {
    actionBus.send(NavigationAction.OpenContext, {
        frame: {
            view: 'settings',
        },
        hints: [{ hint: 'dialog' }]
    })
}

preferences.onPhotographersUpdated(() => updatePhotographers())
preferences.onTagsUpdated(() => updateTags())
</script>

<template>

    <Scaffolding :toolbar="true" :pad-content="false">

        <template #toolbar>
            <Toolbar>
                <ToolbarGroup style="flex-grow: 2;">
                    <SearchButton 
                        text-key="search"
                        :search-mode="searchMode"
                        :onTap="toggleSearchMode"
                        :onCancel="cancelSearchMode"
                        :onSearch="updateResults"
                        :blur="blurSearchTrigger"
                        ></SearchButton>
                    <MenuButton 
                        v-if="!searchMode"
                        :on-tap="openMenu"
                        ></MenuButton>
                    <MenuButton 
                        v-if="searchMode" 
                        :icon="XIcon" 
                        :onTap="cancelSearchMode"></MenuButton>
                </ToolbarGroup>
            </Toolbar>
        </template>

        <template #default>
            <PhotographerList 
                v-if="!searchMode"
                :photographers="photographers"
                :on-find-photographer="openFindPhotographer"
                class="home-photographer-list"
                ></PhotographerList>
            <List 
                :items="hashtags" 
                :cell="HashtagListCell" 
                :pad-content="true"
                :on-select="openCollection"
                ></List>

            <div class="hashtag-hint" v-if="hashtags.length == 0 && !searchMode">
                <IconCell :icon="BookmarkIcon"></IconCell>
                <TextCell text-key="hashtag-hint" calss="am-lead"></TextCell>
            </div>
            <div class="hashtag-hint" v-if="hashtags.length == 0 && searchMode">
                <IconCell :icon="SearchIcon"></IconCell>
                <TextCell text-key="search-hint" calss="am-lead"></TextCell>
            </div>
        </template>

    </Scaffolding>

    <Menu :items="menuItems" :controller="mainMenu"></Menu>

</template>

<style lang="scss">
@use "@am/theme/font.module.scss" as font;
.hashtag-hint {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100% - 5 * var(--units-control-base));
    gap: calc(0.5 * var(--units-control-base));

    svg {
        flex-shrink: 0;
        width: var(--units-control-base);
        height: var(--units-control-base);
    }

    .am-lead {
        margin: 0;
        font-style: italic;
        @include font.lead;
        @include font.secondary;
    }

}
@media (min-width: 650px) and (min-height: 200px) {
    .home-photographer-list {
        display: none;
    }
}
</style>