<script setup lang="ts">
import NavigationStack from 'ambient/src/containers/NavigationStack.vue';
import Pager from 'ambient/src/controls/Pager.vue';
import { useNavigationGraph } from '@am/traits/NavigationGraph';
import { computed } from 'vue';

const navigationGraph = useNavigationGraph()

const currentStep = computed(() => {
    return navigationGraph.graph.value[0].frames.length
})
</script>

<template>
    <div class="onboarding-view">
        <Pager :steps="3" :current-step="currentStep"></Pager>
        <NavigationStack></NavigationStack>
    </div>
</template>

<style lang="scss" scoped>
.onboarding-view {
    position: absolute;
    width: 100%;
    height: 100%;

    & > .am-pager {
        position: absolute;
        top: calc(0.5 * var(--units-control-base));
        top: calc(0.5 * var(--units-control-base) + var(--units-safe-top));
        left: 0;
        right: 0;
    }
}
</style>