<script setup lang="ts">
import Scaffolding from 'ambient/src/containers/Scaffolding.vue';
import { Photographer } from '../controller/Photographer';
import Toolbar from 'ambient/src/containers/Toolbar.vue';
import ToolbarGroup from 'ambient/src/containers/ToolbarGroup.vue';
import IconButton from 'ambient/src/controls/IconButton.vue';
import { ChevronLeft, FilterIcon, ImageOffIcon } from 'lucide-vue-next';
import TextCell from 'ambient/src/cells/TextCell.vue';
import ImageGrid from '../components/ImageGrid.vue';
import { computed, onMounted, ref } from 'vue';
import { Post } from '../controller/Post';
import IconCell from 'ambient/src/cells/IconCell.vue';
import { Timeline } from '../controller/Timeline';
import Menu, { newMenu } from 'ambient/src/containers/Menu.vue';
import { forgetPhotographer, getPreferredView, setPreferredView } from '../controller/Preferences';
import { useActionBus } from '@am/traits/ActionBus';
import { NavigationAction } from 'ambient/src/traits/Navigation';
import FilterSelectionSheet from '../components/FilterSelectionSheet.vue';
import { compatibleLicense, License } from '../controller/License';
import ActionButton from 'ambient/src/controls/ActionButton.vue';
import ProgressBar from 'ambient/src/controls/ProgressBar.vue';
import { replace } from 'ambient/src/traits/Formatter';
import { MoreVerticalIcon } from 'lucide-vue-next';

const actionBus = useActionBus()

const props = defineProps<{
    photographer: Photographer,
}>()

const loading = ref(false)
const posts = ref<Post[]>([])
const showFilter = ref(false)

const currentView = ref(getPreferredView())
const currentFilter = ref<License>('C')

const filteredPosts = computed(() => {
    return posts.value.filter(p => compatibleLicense(p.attachment.license, currentFilter.value))
})

const hiddenPostsNum = computed(() => {
    return posts.value.length - filteredPosts.value.length
})

function loadPosts(options?: {olderThanId?: string}) {
    loading.value = true
    const timeline = new Timeline([props.photographer])
    timeline.loadProfile(props.photographer, options ?? {}, (p, success) => {
        posts.value.splice(posts.value.length, 0, ...p)
        loading.value = false
    })
}

function loadMore() {
    const oldestId = posts.value[posts.value.length-1]?.id
    loadPosts({olderThanId: oldestId})
}

const profileMenu = newMenu()
const menuItems = [
    {
        textKey: "forget-photographer",
        onTap: () => {
            forgetPhotographer(props.photographer)
            actionBus.send(NavigationAction.Back, null)
        }
    }
]

function openMenu(_: any, event: PointerEvent) {
    profileMenu.value.open(event)
}

onMounted(() => {
    loadPosts()
})

function openPost(post: Post) {
    actionBus.send(NavigationAction.Push, {
        view: 'detail',
        data: {post},
    })
}

function changeFilter(license: License) {
    currentFilter.value = license
    showFilter.value = false
}

function changeView(view: 'landscape'|'portrait'|'square') {
    currentView.value = view
    setPreferredView(view)
    showFilter.value = false
}

</script>


<template>
    <Scaffolding :toolbar="true" :pad-content="false">
        <template #toolbar>
            <Toolbar class="profile-toolbar">
                <ToolbarGroup>
                    <IconButton :icon="ChevronLeft" text-key="back" on-tap="navigation::back"></IconButton>
                    <div class="toolbar-title">
                        <TextCell :text="photographer.displayName" class="am-strong"></TextCell>
                    </div>
                </ToolbarGroup>
                <ToolbarGroup>
                    <IconButton :icon="FilterIcon" text-key="filter" :on-tap="() => showFilter = true"></IconButton>
                    <IconButton :icon="MoreVerticalIcon" text-key="menu" :on-tap="openMenu"></IconButton>
                </ToolbarGroup>
            </Toolbar>
        </template>
        <template #default>
            <div class="profile-view">
                <div class="profile-header">
                    <img :src="photographer.avatar" :alt="`Avatar: ${photographer.displayName}`" />
                    <div class="stack">
                        <TextCell kind="heading" :text="photographer.displayName"></TextCell>
                        <TextCell :text="photographer.name"></TextCell>
                    </div>
                </div>
                <ImageGrid 
                    :v-if="posts.length > 0"
                    :posts="filteredPosts" 
                    :view="currentView"
                    :on-tap="openPost"
                    class="profile-grid"
                    ></ImageGrid>
                <TextCell 
                    v-if="hiddenPostsNum != 0" 
                    class="hidden-posts"
                    text-key="hidden-posts"
                    :formatter="replace(hiddenPostsNum)"
                    ></TextCell>
                <div class="photographer-hint" v-if="!loading && posts.length == 0">
                    <IconCell :icon="ImageOffIcon"></IconCell>
                    <TextCell
                        text-key="profile-empty"
                        :formatter="replace(photographer.displayName)"
                        class="am-lead"
                        ></TextCell>
                </div>
                <ProgressBar v-if="loading"></ProgressBar>
                <ActionButton 
                    v-if="!loading"
                    class="load-more"
                    text-key="load-more"
                    :on-tap="loadMore"
                    ></ActionButton>
                
            </div>
        </template>
    </Scaffolding>

    <Menu :items="menuItems" :controller="profileMenu"></Menu>

    <FilterSelectionSheet 
        :show="showFilter"
        :on-close="() => showFilter = false"
        :view="currentView"
        :license="currentFilter"
        :on-change-license="changeFilter"
        :on-change-view="changeView"
        ></FilterSelectionSheet>
    
</template>

<style lang="scss" scoped>
@use "@am/theme/font.module.scss" as font;
.toolbar-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: var(--units-control-base);
}
.profile-view {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: var(--units-control-spacing);
    min-height: 100%;

    .am-progress-bar {
        margin: var(--units-control-pad-v) var(--units-control-pad-h);
    }
}
.profile-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--units-control-pad-h);
    overflow: hidden;
    max-width: 100%;

    padding: var(--units-control-pad-v) var(--units-control-pad-h);

    img {
        width: calc(2 * var(--units-control-base));
        aspect-ratio: 1;
        border-radius: 100%;
    }

    .stack {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: flex-start;
        gap: var(--units-control-spacing);
        overflow: hidden;
        max-width: 100%;

        & > p {
            margin: 0;
            @include font.hero;
        }
    }
}
.photographer-hint {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(0.5 * var(--units-control-base));
    flex-grow: 1;
    margin: var(--units-control-pad-v) var(--units-control-pad-h);

    svg {
        flex-shrink: 0;
        width: var(--units-control-base);
        height: var(--units-control-base);
    }

    .am-lead {
        margin: 0;
        font-style: italic;
        @include font.lead;
        @include font.secondary;
    }
}
.am-scrolled-top .profile-toolbar {
    border-bottom-color: transparent;
    .toolbar-title {
        display: none;
    }
}
.profile-grid {
    padding-bottom: calc(var(--units-control-pad-h) + var(--units-safe-bottom));
}

.load-more {
    margin: var(--units-control-pad-v) var(--units-control-pad-h);
    margin-bottom: calc(var(--units-control-pad-h) + var(--units-safe-bottom));
}

.hidden-posts {
    margin: var(--units-control-pad-v) var(--units-control-pad-h);
}
</style>