<script setup lang="ts">
import TextCell from 'ambient/src/cells/TextCell.vue';
import List from 'ambient/src/containers/List.vue';
import Menu, { newMenu } from 'ambient/src/containers/Menu.vue';
import Scaffolding from 'ambient/src/containers/Scaffolding.vue';
import SecondaryButton from 'ambient/src/controls/SecondaryButton.vue';
import SelectionButton from 'ambient/src/controls/SelectionButton.vue';
import { match, useActionBus } from '@am/traits/ActionBus';
import { PlusIcon, XIcon } from 'lucide-vue-next';
import { computed, inject, onMounted, ref } from 'vue';
import ServerCell from '../components/ServerCell.vue';
import { forgetServer, getDiscoveryServer, getPreferredLanguage, getServers, saveDiscoveryServer, setPreferredLanguage } from '../controller/Preferences';
import { registerServer, Server } from '../controller/Server';
import { getText } from 'ambient/src/traits/l18n';
import { MenuItemProps } from 'ambient/src/containers/MenuItem.t';
import Toolbar from 'ambient/src/containers/Toolbar.vue';
import ToolbarGroup from 'ambient/src/containers/ToolbarGroup.vue';
import IconButton from 'ambient/src/controls/IconButton.vue';
import FormBox from 'ambient/src/containers/FormBox.vue';
import FormSection from 'ambient/src/containers/FormSection.vue';
import ToolbarTitle from 'ambient/src/controls/ToolbarTitle.vue';

const actionBus = useActionBus()
const appinfo = inject('appinfo', {name: '', version: '', url: ''})

const servers = ref<Server[]>([])
const serverList = computed(() => {
    return servers.value
        .sort((a, b) => a.name.localeCompare(b.name))
        .map(s => {
            return {
                key: s.url,
                server: s,
            }
        })
})

const discoveryServer = ref("")
const noDiscoveryServerText = getText(ref('no-discovery-server'))
const discoveryServerTitle = computed(() => {
    const server = servers.value.filter(s => s.url == discoveryServer.value)
    if (server.length < 1) return noDiscoveryServerText.value
    else return server[0].name
})

const discoveryCapableServers = computed(() => {
    const list: MenuItemProps[] = servers.value
        .filter(s => s.type == 'mastodon')
        .map(s => {
            return {
                text: s.name,
                actionData: s.url,
                onTap: selectDiscoveryServer,
            }
        })
    list.push({
        textKey: "no-discovery-server",
        actionData: "",
        onTap: selectDiscoveryServer
    })
    return list
})

const discoveryServerMenu = newMenu()

const languageList = [
    {
        actionData: "en",
        textKey: "en",
        onTap: setLanguage
    },
    {
        actionData: "de",
        textKey: "de",
        onTap: setLanguage
    },
    {
        actionData: null,
        textKey: "system-default",
        onTap: setLanguage
    }
]
const currentLanguage = ref<string|null>(null)
const currentLanguageKey = computed(() => {
    if (currentLanguage.value != null) return currentLanguage.value!
    else return 'system-default'
})
const languageMenu = newMenu()

function setLanguage(lang: string) {
    setPreferredLanguage(lang)
    window.location.reload()
}

function updateServers() {
    servers.value = Object.values(getServers())
    discoveryServer.value = getDiscoveryServer()?.url ?? ""
}

onMounted(() => {
    updateServers()
    currentLanguage.value = getPreferredLanguage()
})

function selectDiscoveryServer(serverUrl: string) {
    discoveryServer.value = serverUrl
    const server = servers.value.filter(s => s.url == serverUrl)
    saveDiscoveryServer(server.length < 1 ? undefined : server[0])
}

function openDiscoveryServerMenu(_: any, event: PointerEvent) {
    discoveryServerMenu.value.open(event)
}

function openLanguageMenu(_: any, event: PointerEvent) {
    languageMenu.value.open(event)
}

function addServer() {
    const url = window.prompt('Server address')
    if (!url) return
    registerServer(url).then(() => {
        updateServers()
    })
}

actionBus.hook(match({
    'vstock::settings::remove-server': (serverUrl: string) => {
        const server = servers.value.filter(s => s.url == serverUrl)
        if (server.length < 1) return false
        forgetServer(server[0])
        updateServers()
        return false
    }
}))

const discoveryServerDesc1 = getText(ref("discovery-server::1"))
const discoveryServerDesc2 = getText(ref("discovery-server::2"))
</script>

<template>
    <Scaffolding :toolbar="true">
        <template #toolbar>
            <Toolbar>
                <ToolbarGroup>
                    <IconButton :icon="XIcon" text-key="close" on-tap="navigation::back"></IconButton>
                    <ToolbarTitle text-key="settings"></ToolbarTitle>
                </ToolbarGroup>
                <ToolbarGroup></ToolbarGroup>
            </Toolbar>
        </template>

        <template #default>
            <div class="settings-view">
                <TextCell kind="heading" text-key="settings" class="am-hero"></TextCell>
                <FormBox>
                    <FormSection text-key="discovery-server">
                        <template #description>
                            <TextCell kind="secondary" :lead="true" text-key="discovery-server::1"></TextCell>
                            <TextCell kind="secondary" :lead="true" text-key="discovery-server::2"></TextCell>
                        </template>
                        <template #default>
                            <SelectionButton :text="discoveryServerTitle" :on-tap="openDiscoveryServerMenu"></SelectionButton>
                        </template>
                    </FormSection>
                
                    <FormSection text-key="connected-servers">
                        <List
                            :items="serverList"
                            :cell="ServerCell"
                            ></List>
                        <SecondaryButton :icon="PlusIcon" text-key="add-server" :on-tap="addServer"></SecondaryButton>
                    </FormSection>
                
                    <FormSection text-key="language">
                        <SelectionButton :text-key="currentLanguageKey" :on-tap="openLanguageMenu"></SelectionButton>
                    </FormSection>
                    <FormSection text-key="about">
                        <TextCell :text="`${appinfo.name} v${appinfo.version}`" class="am-lead"></TextCell>
                        <TextCell text-key="about::1" class="am-lead"></TextCell>
                        <a :href="appinfo.url">{{ appinfo.url }}</a>
                    </FormSection>
                </FormBox>
            </div>
        </template>
    </Scaffolding>

    <Menu :items="discoveryCapableServers" :controller="discoveryServerMenu"></Menu>
    <Menu :items="languageList" :controller="languageMenu"></Menu>

</template>

<style lang="scss" scoped>
@use "@am/theme/colors.module.scss" as colors;
@use "@am/theme/font.module.scss" as font;
.settings-view {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: calc(0.5 * var(--units-control-base));

    a,
    a:visited {
        color: var(--scheme-a-300);
    }
}
.am-scrolled-top .am-toolbar {
    border-bottom-color: transparent;
    .am-toolbar-title {
        display: none;
    }
}
</style>