<script setup lang="ts">
import {type Icon} from '@am/cells/IconCell.t';
import IconCell from 'ambient/src/cells/IconCell.vue';
import TextCell from 'ambient/src/cells/TextCell.vue';

defineProps<{
    textKey: string,
    icon: Icon,
}>()
</script>

<template>
    <div class="app-function">
        <IconCell :icon="icon"></IconCell>
        <TextCell :text-key="textKey" class="am-lead"></TextCell>
    </div>
</template>

<style lang="scss" scoped>
.app-function {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: var(--units-control-pad-h);
    padding: 0 var(--units-control-pad-h);

    svg {
        flex-shrink: 0;
    }
    .am-cell-text {
        flex-grow: 1;
    }
}
</style>