<script setup lang="ts">
import IconCell from 'ambient/src/cells/IconCell.vue';
import TextCell from 'ambient/src/cells/TextCell.vue';
import { CopyrightIcon, CreativeCommonsIcon, Repeat } from 'lucide-vue-next';
import { computed } from 'vue';
import { License, shortTitle } from '../controller/License';

const props = defineProps<{
    license: License,
    reblog: boolean,
}>()

const bagdeTitle = computed(() => {
    if (props.reblog) return ''
    const title = shortTitle(props.license)
    return title == '(C)' ? '' : title
})

const icon = computed(() => {
    if (props.reblog) return Repeat
    if (props.license.substring(0, 2) == 'CC') {
        return CreativeCommonsIcon;
    } else {
        return CopyrightIcon;
    }
})

</script>

<template>
    <div class="ccbadge">
        <IconCell :icon="icon"></IconCell>
        <TextCell :text="bagdeTitle"></TextCell>
    </div>
</template>

<style lang="scss">
@use "@am/theme/font.module.scss" as font;
@use "@am/theme/colors.module.scss" as colors;
.ccbadge {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;

    @include font.secondary();

    background: rgba(0,0,0,0.5);
    color: #ebebeb;

    padding: calc(0.5 * var(--units-control-pad-v)) calc(0.5 * var(--units-control-pad-v));
    border-radius: calc(var(--units-control-corner));

    svg {
        height: 1em;
        flex-shrink: 0;
        flex-grow: 0;
        margin-bottom: -0.1em;
    }
}
</style>