<script setup lang="ts">
import IconCell from 'ambient/src/cells/IconCell.vue';
import { CopyrightIcon, CreativeCommonsIcon } from 'lucide-vue-next';
import { computed } from 'vue';
import { Action } from 'ambient/src/traits/ActionBus';
import ToggleButton from 'ambient/src/controls/ToggleButton.vue';
import TextCell from 'ambient/src/cells/TextCell.vue';
import { License, shortTitle } from '../controller/License';

const props = defineProps<{
    license: License,
    active: boolean,
    onTap?: Action,
}>()

const bagdeTitle = computed(() => {
    if (props.license == 'C') return null
    else return shortTitle(props.license)
})

const icon = computed(() => {
    if (props.license == 'C') {
        return CopyrightIcon;
    } else {
        return CreativeCommonsIcon;
    }
})

</script>

<template>
    <ToggleButton class="ccbutton" :active='active' :action-data="license" :on-tap="onTap">
        <IconCell :icon="icon"></IconCell>
        <span class="ccbutton-license" v-if="bagdeTitle">
            {{ bagdeTitle }}
        </span>
        <TextCell :text-key="license"></TextCell>
    </ToggleButton>
</template>

<style lang="scss">
@use "@am/theme/colors.module.scss" as colors;
.ccbutton {
    position: relative;
    justify-content: flex-start;
    padding-right: calc(var(--units-control-pad-h) * 1.5);
    min-width: auto;

    .am-cell-text {
        margin-left: calc(0.8 * var(--units-control-base));
    }
}
.ccbutton-license {
    position: absolute;
    @include colors.apply-color('a', 100);

    top: calc(2*var(--units-control-pad-v));
    left: calc(1 * var(--units-control-base) - 0.7 * var(--units-control-pad-h));
    font-size: 0.7em;
    padding: calc(0.5 * var(--units-control-pad-v)) calc(0.5 * var(--units-control-pad-v));
    border-radius: calc(0.5 * var(--units-control-corner));

    @include colors.dark-theme {
        @include colors.apply-color('a', 300);
    }
}
</style>