<script setup lang="ts">
import { Icon } from 'ambient/src/cells/IconCell.t';
import { Action, useActionBus } from 'ambient/src/traits/ActionBus';

const actionBus = useActionBus()

const props = defineProps<{
    icon: Icon,
    title: string,
    description: string,
    onTap?: Action,
    actionData?: any,
}>()

function tapped(event: Event) {
    actionBus.send(props.onTap, props.actionData, event)
}
</script>

<template>
    <button class="connect-button" @click="tapped">
        <IconCell :icon="icon"></IconCell>
        <div>
            <TextCell :text="title"></TextCell>
            <p>{{ description }}</p>
        </div>
    </button>
</template>

<style lang="scss">
@use "@am/theme/colors.module.scss" as colors;
@use "@am/theme/controls.module.scss" as controls;
@use "@am/theme/font.module.scss" as font;
.connect-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    appearance: none;

    max-width: 350px;
    user-select: none;
    cursor: default;

    gap: var(--units-control-spacing);

    @include colors.apply-shade('a', 1000);
    border: var(--units-control-border) solid var(--container-background);
    border-radius: var(--units-control-corner);
    padding: var(--units-control-pad-v) var(--units-control-pad-h);

    &:hover {
        @include colors.apply-shade('a', 800);
        @include controls.elevate(2);
    }

    &:active, &:focus {
        @include colors.apply-shade('a', 800);
    }

    svg {
        height: calc(1 * var(--units-control-base));
        width: calc(1 * var(--units-control-base));
        flex-shrink: 0;
        flex-grow: 0;
    }

    div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        gap: var(--units-control-spacing);

        .am-cell-text {
            @include font.title;
            font-weight: bold;
        }

        p {
            @include font.lead;
            text-align: left;
            margin: 0;
        }
    }

    @include colors.dark-theme {

        @include colors.apply-shade('a', 2000);

        &:hover {
            @include colors.apply-shade('a', 1800);
        }

        &:active, &:focus {
            @include colors.apply-shade('a', 1800);
            border-color: var(--scheme-a-s-1200);
        }
    }
}
</style>