<script setup lang="ts">
import TextCell from 'ambient/src/cells/TextCell.vue';
import MenuButton from 'ambient/src/controls/MenuButton.vue';
import ToggleButton from 'ambient/src/controls/ToggleButton.vue';
import { useActionBus } from 'ambient/src/traits/ActionBus';
import { Action } from 'ambient/src/traits/ActionBus';
import { RectangleHorizontalIcon, RectangleVerticalIcon, SquareIcon, XIcon } from 'lucide-vue-next';
import { ref, watch } from 'vue';
import { License } from '../controller/License';
import CCButton from './CCButton.vue';

const actionBus = useActionBus()

const props = defineProps<{
    show: boolean,
    view: 'landscape' | 'portrait' | 'square',
    license: License,
    onClose?: Action,
    onChangeLicense?: Action,
    onChangeView?: Action,
}>()

const displayed = ref(false)
const stableState = ref(false)

watch(() => props.show, (newState) => {
    if (newState == true) {
        displayed.value = true
        requestAnimationFrame(() => {
            stableState.value = true
        })
    } else {
        stableState.value = false
        setTimeout(() => {
            displayed.value = false
        }, 500)
    }
})

function close() {
    actionBus.send(props.onClose, null)
}

</script>

<template>
    <div class="filter-backdrop" v-if="displayed" :class="{stable: stableState}" @click="close"></div>
    <div class="filter-selection-sheet" v-if="displayed" :class="{stable: stableState}">
        <div class="sheet-header">
            <MenuButton :icon="XIcon" :on-tap="onClose"></MenuButton>
            <TextCell text-key="filter&view" class="am-title"></TextCell>
            <span class="spacing"></span>
        </div>
        <div class="h-stack">
            <ToggleButton 
                :active="view == 'portrait'" 
                :icon="RectangleVerticalIcon" 
                text-key="portrait"
                action-data="portrait"
                :on-tap="onChangeView"
                ></ToggleButton>
            <ToggleButton 
                :active="view == 'landscape'" 
                :icon="RectangleHorizontalIcon" 
                text-key="landscape"
                action-data="landscape"
                :on-tap="onChangeView"
                ></ToggleButton>
            <ToggleButton 
                :active="view == 'square'" 
                :icon="SquareIcon" 
                text-key="square"
                action-data="square"
                :on-tap="onChangeView"
                ></ToggleButton>
        </div>
        <TextCell text-key="license" class="am-strong"></TextCell>
        <div class="v-stack">
            <CCButton :active="license == 'CC0'" license="CC0" :on-tap="onChangeLicense"></CCButton>
            <CCButton :active="license == 'CC BY'" license="CC BY" :on-tap="onChangeLicense"></CCButton>
            <CCButton :active="license == 'CC BY-SA'" license="CC BY-SA" :on-tap="onChangeLicense"></CCButton>
            <CCButton :active="license == 'C'" license="C" :on-tap="onChangeLicense"></CCButton>
        </div>
    </div>
</template>

<style lang="scss">
@use "@am/theme/colors.module.scss" as colors;
@use "@am/theme/controls.module.scss" as controls;
@use "@am/theme/font.module.scss" as font;
.filter-backdrop {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.0);
    pointer-events: none;

    transition: 0.3s ease-in-out;

    &.stable {
        background: rgba(0,0,0,0.3);
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);
        pointer-events: auto;
    }
}
.filter-selection-sheet {
    display: flex;
    position: fixed;
    left: var(--units-control-pad-v);
    right: var(--units-control-pad-v);
    bottom: 0;

    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: var(--units-control-spacing);

    padding: var(--units-control-pad-v) var(--units-control-pad-h);
    padding-bottom: calc(var(--units-safe-bottom) + var(--units-control-pad-h));
    border-radius: var(--units-control-corner) var(--units-control-corner) 0 0;
    
    @include controls.elevate(4);
    @include colors.apply-shade('a', 600);

    transition: 0.3s ease-in-out;
    transform: translateY(100%);

    &.stable {
        transform: translateY(0);
    }

    .sheet-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .spacing {
            width: var(--units-control-base);
        }
    }

    .am-strong {
        margin-top: var(--units-control-spacing);
    }

    .h-stack {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        flex-wrap: wrap;
        gap: var(--units-control-spacing);

        .am-button {
            flex-grow: 1;
            flex-shrink: 1;
            flex-direction: column;
            height: auto;

            svg {
                flex-grow: 0;
                height: calc(0.7 * var(--units-control-base));
                width: auto;
            }
        }
    }
    .v-stack {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        gap: var(--units-control-spacing);
    }

    @include colors.dark-theme {
        @include colors.apply-shade('a', 2400);
    }
}

</style>