<script setup lang="ts">
import TextCell from 'ambient/src/cells/TextCell.vue';
import { ChevronRight } from 'lucide-vue-next';

const props = defineProps<{
    hashtag: string,
}>()
</script>

<template>
    <span class="hashtag-list-cell">
        <TextCell :text="props.hashtag"></TextCell>
        <ChevronRight></ChevronRight>
    </span>
</template>

<style lang="scss">
.hashtag-list-cell {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}
</style>