<script setup lang="ts">
import { Action } from 'ambient/src/traits/ActionBus';
import { Post } from '../controller/Post';
import Thumbnail from './Thumbnail.vue';

const props = defineProps<{
    posts: Post[],
    view: 'landscape'|'portrait'|'square',
    onTap?: Action,
}>()

</script>

<template>
    <div class="image-grid" :class="view">
        <Thumbnail 
            v-for="post in props.posts"
            :url="post.attachment.preview"
            :license="post.attachment.license"
            :reblog="post.reblog"
            :action-value="post"
            :on-tap="props.onTap"
            :alt="post.attachment.description"
            ></Thumbnail>
    </div>
</template>

<style lang="scss">
.image-grid {
    display: grid;
    padding: var(--units-control-pad-h);
    gap: var(--units-control-spacing);
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));

    &.landscape {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}
</style>