<script setup lang="ts">
import IconCell from 'ambient/src/cells/IconCell.vue';
import TextCell from 'ambient/src/cells/TextCell.vue';
import { CopyrightIcon, CreativeCommonsIcon } from 'lucide-vue-next';
import { computed } from 'vue';
import { License, longTitleKey } from '../controller/License';

const props = defineProps<{
    license: License,
}>()

const title = computed(() => longTitleKey(props.license)) 
const icon = computed(() => {
    if (props.license.substring(0, 2) == 'CC') {
        return CreativeCommonsIcon
    } else {
        return CopyrightIcon
    }
})
</script>

<template>
    <div class="license-card">
        <IconCell :icon="icon"></IconCell>
        <TextCell :text-key="title" class="title"></TextCell>
    </div>
</template>

<style lang="scss">
@use "@am/theme/colors.module.scss" as colors;
@use "@am/theme/font.module.scss" as font;
.license-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: var(--units-control-spacing);

    padding: var(--units-control-pad-v) var(--units-control-pad-h);
    border-radius: var(--units-control-corner);

    @include colors.apply-shade('a', 700);

    .title {
        @include font.title;
    }

    @include colors.dark-theme {
        @include colors.apply-shade('a', 2400);
    }
}
</style>