<script setup lang="ts">
import TextCell from 'ambient/src/cells/TextCell.vue';
import { useActionBus } from '@am/traits/ActionBus';
import { Photographer } from '../controller/Photographer';
import { NavigationAction } from 'ambient/src/traits/Navigation';

const actionBus = useActionBus()

const props = defineProps<{
    photographer: Photographer,
}>()

function openProfile() {
    actionBus.send(NavigationAction.OpenContext, {
        frame: {
            view: 'profile',
            data: {photographer: props.photographer},
        }
    })
}

</script>

<template>
    <div class="photographer-tile" @click="openProfile">
        <img :src="photographer.avatar" :alt="`Avatar: ${photographer.displayName}`" />
        <TextCell :text="photographer.displayName"></TextCell>
    </div>
</template>

<style lang="scss">
.photographer-tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--units-control-spacing);
    width: 70px;
    flex-shrink: 0;
    flex-grow: 0;
    transition: 0.3s ease-in-out;
    overflow: hidden;

    img {
        display: block;
        background-color: var(--scheme-a-s-800);
        width: 100%;
        aspect-ratio: 1;
        border-radius: 100%;
        filter: brightness(70%);
        transition: 0.3s ease-in-out;
    }
    .am-cell-text {
        max-width: 100%;
        overflow: hidden;
    }

    &:hover img {
        filter: brightness(100%);
    }
}
</style>