<script setup lang="ts">
import TextCell from 'ambient/src/cells/TextCell.vue';
import { useActionBus } from '@am/traits/ActionBus';
import { Photographer } from '../controller/Photographer';
import { computed } from 'vue';

const actionBus = useActionBus()
const props = defineProps<{
    photographer: Photographer,
}>()

const ph = computed(() => props.photographer)

function tapped() {
    actionBus.send("vstock::find-photographer::photographer", props.photographer)
}

</script>

<template>
    <div class="photographer-cell">
        <img :src="ph.avatar" :alt="`Avatar: ${ph.displayName}`" />
        <div class="stack">
            <TextCell :text="ph.displayName"></TextCell>
            <TextCell :text="ph.name" class="acc-name"></TextCell>
        </div>
    </div>
</template>

<style lang="scss" scoped>
@use '@am/theme/font.module.scss' as font;
.photographer-cell {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    gap: calc(2 * var(--units-control-spacing));
    overflow: hidden;

    img {
        width: 50px;
        aspect-ratio: 1;
        border-radius: 100%;
    }

    .stack {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: flex-start;

        gap: var(--units-control-spacing);

        .acc-name {
            @include font.secondary;
        }
    }

}
</style>