<script setup lang="ts">
import TextCell from 'ambient/src/cells/TextCell.vue';
import ActionButton from 'ambient/src/controls/ActionButton.vue';
import { useActionBus } from 'ambient/src/traits/ActionBus';
import { NavigationAction } from 'ambient/src/traits/Navigation';
import { ref, watch } from 'vue';
import { Photographer } from '../controller/Photographer';

const actionBus = useActionBus()

const props = defineProps<{
    photographer: Photographer,
}>()

function openProfile() {
    actionBus.send(NavigationAction.Push, {
        view: 'profile',
        data: {photographer: props.photographer},
    })
}


const profileElement = ref<HTMLDivElement|undefined>(undefined)

watch(profileElement, () => {
    if (profileElement.value == undefined) return
    activateLinks(profileElement.value)
})

function activateLinks(element: HTMLElement) {
    element.querySelectorAll('.hashtag').forEach(e => {
        e.addEventListener('click', evt => {
            evt.preventDefault()
            const tag = (evt.target as HTMLElement).textContent
            if (tag == null) return
            openCollection(tag?.substring(0, 1) == '#' ? tag.substring(1) : tag)
        })
    })

    element.querySelectorAll('.u-url').forEach(e => {
        e.addEventListener('click', evt => evt.preventDefault())
    })
}

function openCollection(tag: string) {
    actionBus.send(NavigationAction.Push, {
        name: 'main',
        view: 'collection',
        data: {collection: `#${tag}`},
        key: `collection/${tag}`,
    })
}

</script>

<template>
    <div class="photographer-card">
        <img :src="photographer.avatar" class="avatar" :alt="`Avatar: ${photographer.displayName}`" />
        <div class="info">
            <TextCell kind="h2" :text="photographer.displayName"></TextCell>
            <TextCell :text="photographer.name" class="account"></TextCell>
            <div ref="profileElement" v-html="photographer.profile" class="profile"></div>
            <div class="actions">
                <ActionButton 
                    textKey="open-profile"
                    :action-data="photographer"
                    :on-tap="openProfile"
                    ></ActionButton>
            </div>
        </div>
    </div>
</template>

<style lang="scss">
@use "@am/theme/colors.module.scss" as colors;
@use "@am/theme/font.module.scss" as font;
.photographer-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--units-control-pad-h);

    padding: var(--units-control-pad-v) var(--units-control-pad-h);
    border-radius: var(--units-control-corner);

    @include colors.apply-shade('a', 700);

    .name {
        @include font.title;
    }

    .account {
        @include font.secondary;
    }

    .avatar {
        width: 100px;
        aspect-ratio: 1;
        border-radius: 100%;
    }

    .profile {
        @include font.lead;
    }

    .info {
        display: flex;
        flex-direction: column;
        gap: var(--units-control-spacing);
        padding: var(--units-control-pad-v) 0;
        overflow: hidden;
    }

    .actions {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        gap: var(--units-control-spacing);
    }

    @include colors.dark-theme {
        @include colors.apply-shade('a', 2400);
    }
}
</style>