<script setup lang="ts">
import TextCell from 'ambient/src/cells/TextCell.vue';
import { Action, useActionBus } from '@am/traits/ActionBus';
import { CornerUpLeftIcon, PlusIcon } from 'lucide-vue-next';
import { Photographer } from '../controller/Photographer';
import PhotographerTile from './PhotographerTile.vue';
import IconCell from 'ambient/src/cells/IconCell.vue';

const actionBus = useActionBus()
const props = defineProps<{
    photographers: Photographer[],
    onFindPhotographer: Action,
}>()

function findPhotographer(event: Event) {
    actionBus.send(props.onFindPhotographer, null, null)
}

</script>

<template>
    <nav class="photographer-list">

        <PhotographerTile 
            v-for="p in props.photographers" 
            :photographer="p"
            ></PhotographerTile>
        <div class="photographer-tile-add" @click="findPhotographer">
            <div class="img"><PlusIcon></PlusIcon></div>
            <TextCell text="Add"></TextCell>
        </div>
        <div class="photographer-hint" v-if="photographers.length == 0">
            <IconCell :icon="CornerUpLeftIcon"></IconCell>
            <TextCell
                text-key="photographer-hint"
                class="am-lead"></TextCell>
        </div>
    </nav>
</template>

<style lang="scss">
@use "@am/theme/colors.module.scss" as colors;
@use "@am/theme/font.module.scss" as font;
.photographer-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: calc(2 * var(--units-control-spacing));

    width: 100%;
    padding: calc(2*var(--units-control-pad-v)) var(--units-control-pad-h);

    overflow-x: auto;
}
.photographer-tile-add {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--units-control-spacing);
    width: 70px;
    flex-shrink: 0;
    flex-grow: 0;
    transition: 0.3s ease-in-out;

    .img {
        @include colors.apply-color('a', 200);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to bottom right, var(--scheme-c-200), var(--scheme-b-200));
        width: 100%;
        aspect-ratio: 1;
        border-radius: 100%;
        filter: brightness(70%);
        transition: 0.3s ease-in-out;

        &:hover {
            filter: brightness(100%);
        }

        @include colors.dark-theme {
            @include colors.apply-color('a', 300);
            background: linear-gradient(to bottom right, var(--scheme-c-300), var(--scheme-b-300));
        }
    }
}
.photographer-hint {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    min-width: 150px;
    gap: var(--units-control-spacing);

    .am-lead {
        margin: 0;
        font-style: italic;
        @include font.lead;
        @include font.secondary;
    }

    svg {
        height: 1em;
    }
}
</style>