<script setup lang="ts">
import TextCell from 'ambient/src/cells/TextCell.vue';
import { Action, useActionBus } from '@am/traits/ActionBus';
import { CornerUpLeftIcon, PlusIcon } from 'lucide-vue-next';
import { Photographer } from '../controller/Photographer';
import PhotographerTile from './PhotographerTile.vue';
import IconCell from 'ambient/src/cells/IconCell.vue';

const actionBus = useActionBus()
const props = defineProps<{
    photographers: Photographer[],
    onFindPhotographer: Action,
}>()

function findPhotographer(event: Event) {
    actionBus.send(props.onFindPhotographer, null, null)
}

</script>

<template>
    <nav class="photographer-grid">

        <div class="photographer-tile-add" @click="findPhotographer">
            <div class="img"><PlusIcon></PlusIcon></div>
            <TextCell text="Add"></TextCell>
        </div>
        <PhotographerTile 
            v-for="p in props.photographers" 
            :photographer="p"
            ></PhotographerTile>
        <div class="photographer-hint" v-if="photographers.length == 0">
            <IconCell :icon="CornerUpLeftIcon"></IconCell>
            <TextCell
                text-key="photographer-hint"
                class="am-lead"></TextCell>
        </div>
    </nav>
</template>

<style lang="scss">
@use "@am/theme/colors.module.scss" as colors;
@use "@am/theme/font.module.scss" as font;
.photographer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    gap: calc(1 * var(--units-control-base));

    width: 100%;
    padding: calc(2*var(--units-control-pad-v)) var(--units-control-pad-h);

    overflow-x: auto;

    .photographer-tile,
    .photographer-tile-add {
        width: 90px;
        gap: calc(2 * var(--units-control-spacing));
    }

}
</style>