<script setup lang="ts">
import IconCell from 'ambient/src/cells/IconCell.vue';
import TextCell from 'ambient/src/cells/TextCell.vue';
import Menu, { newMenu } from 'ambient/src/containers/Menu.vue';
import MenuButton from 'ambient/src/controls/MenuButton.vue';
import { useActionBus } from '@am/traits/ActionBus';
import { MoreHorizontalIcon } from 'lucide-vue-next';
import { computed } from 'vue';
import { Server } from '../controller/Server';

const actionBus = useActionBus()

const props = defineProps<{
    server: Server,
}>()

const menuActions = [
    {
        textKey: "remove-server",
        onTap: () => {
            actionBus.send('vstock::settings::remove-server', props.server.url)
        }
    }
]
const actionMenu = newMenu()

function openMenu(_: any, event: PointerEvent) {
    actionMenu.value.open(event)
}

</script>

<template>
    <div class="server-cell">
        <div class="vstack">
            <TextCell :text="props.server.name" class=""></TextCell>
            <TextCell :text="props.server.url" class="am-secondary"></TextCell>
        </div>
        <MenuButton :icon="MoreHorizontalIcon" :on-tap="openMenu"></MenuButton>
    </div>

    <Menu :items="menuActions" :controller="actionMenu"></Menu>

</template>

<style lang="scss">
.server-cell {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--units-control-spacing);
    flex-grow: 1;

    & > .vstack {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        gap: var(--units-control-spacing);
        flex-grow: 1;
    }
}
</style>