<script setup lang="ts">
import TextCell from 'ambient/src/cells/TextCell.vue';
import { computed } from 'vue';
import { ServerType } from '../controller/Server';
import Banner from 'ambient/src/containers/Banner.vue';

const props = defineProps<{
    url: string,
    name: string,
    serverType?: ServerType | 'pleroma',
}>()

const serverTypeDescription = computed(() => {
    switch(props.serverType) {
        case 'mastodon':
            return 'Mastodon Server'
        case 'pixelfed':
            return 'Pixelfed Server'
        case 'pleroma':
            return 'Pleroma Server'
        default:
            return ' '
    }
})

</script>

<template>
    <Banner :text="props.name">
        <template #content>
            <TextCell :text="props.url" class="am-secondary"></TextCell>
            <TextCell :text="serverTypeDescription" class="am-secondary"></TextCell>
        </template>
    </Banner>
</template>