<script setup lang="ts">
import IconCell from 'ambient/src/cells/IconCell.vue';
import TextCell from 'ambient/src/cells/TextCell.vue'
import { useActionBus } from '@am/traits/ActionBus';
import { AlertCircleIcon, CheckCircle2Icon, CheckCircleIcon, CircleEllipsisIcon, Loader2Icon, LoaderIcon, XCircleIcon } from 'lucide-vue-next';
import { computed, onMounted, ref, watch } from 'vue';
import { loadPhotographerInfo } from '../controller/Discovery';
import { Photographer } from '../controller/Photographer';
import { getServerInfo, Server } from '../controller/Server';
import { getText } from 'ambient/src/traits/l18n';

const actionBus = useActionBus()

const props = defineProps<{
    server: Server|string,
    username: string,
}>()

enum ConnectionStatus {
    Waiting,
    Failed,
    Successful,
    AuthenticationRequired,
}

const currentStatus = ref(ConnectionStatus.Waiting)
const currentIcon = computed(() => {
    switch (currentStatus.value) {
        case ConnectionStatus.Waiting:
            return Loader2Icon
        case ConnectionStatus.Successful:
            return CheckCircle2Icon
        case ConnectionStatus.Failed:
            return XCircleIcon
        case ConnectionStatus.AuthenticationRequired:
            return AlertCircleIcon
    }
})
const currentClass = computed(() => {
    switch (currentStatus.value) {
        case ConnectionStatus.Waiting:
            return "waiting"
        case ConnectionStatus.Successful:
            return "successful"
        case ConnectionStatus.Failed:
            return "failed"
        case ConnectionStatus.AuthenticationRequired:
            return "auth"
    }
})

const connectionTexts = {
    [ConnectionStatus.Waiting]: getText(ref("connecting")),
    [ConnectionStatus.Successful]: getText(ref("ready-to-connect")),
    [ConnectionStatus.Failed]: getText(ref("cannot-connect")),
    [ConnectionStatus.AuthenticationRequired]: getText(ref("authentication-required")),
}

const currentText = computed(() => {
    const text = connectionTexts[currentStatus.value].value!
    return text.replace("{$}", `${photographer.value?.posts ?? 0}`)
})

const serverName = computed(() => {
    if (typeof props.server == 'string') {
        return props.server
    } else {
        return props.server.name
    }
})

const photographer = ref<Photographer|null>(null)
function fetchAccountInfo(server: Server) {
    loadPhotographerInfo(server, props.username)
        .then(p => {
            photographer.value = p
            currentStatus.value = ConnectionStatus.Successful
            reportAccountAvailability(p)
        })
        .catch(() => {
            currentStatus.value = ConnectionStatus.Failed
        })
}

function reportAccountAvailability(photographer: Photographer) {
    actionBus.send("vstock::find-photographer::available", photographer)
}

onMounted(() => {
    if (typeof props.server == 'string') {
        getServerInfo(props.server)
            .then(server => {
                fetchAccountInfo(server)
            })
            .catch(() => {
                currentStatus.value = ConnectionStatus.Failed
            })
    } else {
        fetchAccountInfo(props.server)
    }
})
</script>

<template>
    <div class="server-connection-cell" :class="currentClass">
        <div class="stack">
            <TextCell :text="serverName"></TextCell>
            <TextCell :text="currentText" class="am-secondary"></TextCell>
        </div>
        <IconCell :icon="currentIcon"></IconCell>
    </div>
</template>

<style lang="scss" scoped>
.server-connection-cell {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    gap: var(--units-control-spacing);

    .stack {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: var(--units-control-spacing);
    }

    &.waiting, &.failed {
        color: var(--scheme-a-s-1400);
    }
    &.waiting svg {
        animation: spin-circle 2s ease-in-out infinite;
    }

    &.failed svg {
        color: var(--scheme-danger-200);
    }

    &.successful svg {
        color: var(--scheme-success-200);
    }
}

@keyframes spin-circle {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
</style>