<script setup lang="ts">
import { Action, useActionBus } from '@am/traits/ActionBus';
import { License } from '../controller/License';
import CCBadge from './CCBadge.vue';

const actionBus = useActionBus()

const props = defineProps<{
    url?: string,
    license: License,
    reblog: boolean,
    alt?: string,

    actionValue?: any,
    onTap?: Action,
}>()

function tapped(event: Event) {
    actionBus.send(props.onTap, props.actionValue, event)
}

</script>

<template>
    <div class="thumbnail" @click="tapped">
        <img v-if="props.url" :src="props.url" :alt="`Thumbnail: ${props.alt}`" />
        <CCBadge :license="props.license || 'C'" :reblog="props.reblog"></CCBadge>
    </div>
</template>

<style lang="scss">
@use "@am/theme/colors.module.scss" as colors;
.thumbnail {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    aspect-ratio: 9/16;
    @include colors.apply-shade('a', 800);

    border-radius: var(--units-control-corner);
    overflow: hidden;

    animation: thumbnail 0.5s ease-in-out forwards;

    img {
        height: 100%;
    }

    .ccbadge {
        display: block;
        position: absolute;

        right: 2px;
        bottom: 2px;
    }

    @include colors.dark-theme {
        @include colors.apply-shade('a', 2300);
    }

}
.landscape .thumbnail{
    aspect-ratio: 16/9;
    img {
        height: auto;
        width: 100%;
    }
}
.square .thumbnail {
    aspect-ratio: 1/1;
}

@keyframes thumbnail {
    from {
        opacity: 0;
        transform: translateY(50%) scale(0.5);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}
</style>