<script setup lang="ts">
import PrimaryButton from 'ambient/src/controls/PrimaryButton.vue';
import { useActionBus } from '@am/traits/ActionBus';
import { computed, onMounted, ref } from 'vue';
import { Photographer } from '../../controller/Photographer';
import { getServers, savePhotographer } from '../../controller/Preferences';
import { getServerInfo, registerServer, Server } from '../../controller/Server';
import PhotographerCell from '../../components/PhotographerCell.vue';
import ServerInfoCard from '../../components/ServerInfoCard.vue';
import TextCell from 'ambient/src/cells/TextCell.vue';
import { replace } from 'ambient/src/traits/Formatter';
import { NavigationAction } from 'ambient/src/traits/Navigation';
import Banner from 'ambient/src/containers/Banner.vue';

const actionBus = useActionBus()

const props = defineProps<{
    photographer: Photographer,
}>()

const isServerKnown = computed(() => {
    return Object.keys(getServers()).includes(props.photographer.server)
})
const serverInfo = ref<Server|undefined>(undefined)

async function loadServerInfo() {
    serverInfo.value = await getServerInfo(props.photographer.server)
}

async function connectPhotographer() {
    if (!isServerKnown.value) {
        await registerServer(props.photographer.server)
    }
    savePhotographer(props.photographer)
    actionBus.send(NavigationAction.DropContext, null)
}

onMounted(() => {
    loadServerInfo()
})
</script>

<template>
    <div class="view">
        <PhotographerCell :photographer="photographer"></PhotographerCell>
        <ServerInfoCard
            :url="photographer.server"
            :name="serverInfo ? serverInfo.name : 'Loading...'"
            :server-type="serverInfo ? serverInfo.type : undefined"></ServerInfoCard>
        <Banner class="am-warning" :vibrant="true" text-key="add-server">
            <template #content>
                <TextCell 
                    text-key="not-in-server-list" 
                    :formatter="replace(serverInfo?.name ?? '')" 
                    class="am-lead"></TextCell>
            </template>
        </Banner>
        <PrimaryButton text-key="connect" :on-tap="connectPhotographer"></PrimaryButton>
    </div>
</template>

<style lang="scss" scoped>
@use "@am/theme/colors.module.scss" as colors;
@use "@am/theme/font.module.scss" as font;
.view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: calc(0.5 * var(--units-control-base));
}
</style>