<script setup lang="ts">
import { newTrigger, trigger, useActionBus } from '@am/traits/ActionBus';
import List from 'ambient/src/containers/List.vue';
import SecondaryButton from 'ambient/src/controls/SecondaryButton.vue';
import TextBox from 'ambient/src/controls/TextBox.vue';
import { NavigationAction } from 'ambient/src/traits/Navigation';
import { PlusCircleIcon } from 'lucide-vue-next';
import { computed, nextTick, onMounted, ref } from 'vue';
import PhotographerCell from '../../components/PhotographerCell.vue';
import { searchPhotographers } from '../../controller/Discovery';
import { Photographer } from '../../controller/Photographer';

const actionBus = useActionBus()

const foundPhotographers = ref<Photographer[]>([])
const photographerList = computed(() => {
    return foundPhotographers.value.map(p => {
        return {
            key: p.acc,
            photographer: p
        }
    })
})

const focusTrigger = newTrigger()
const blurTrigger = newTrigger()
onMounted(() => {
    nextTick(() => {
        trigger(focusTrigger)
    })
})

const currentQuery = ref("")
function updateSearch(term: string) {
    currentQuery.value = term
    if (term.length < 5) return

    searchPhotographers(term).then(p => {
        foundPhotographers.value = p
    })
}

const isValidUsername = computed(() => {
    return currentQuery.value.match(/@.*@[a-zA-Z0-9\.\-]+\.[a-zA-Z0-9\-]+/) != null
})

function photographerSelected(ids: string[]) {
    trigger(blurTrigger)
    if (ids.length < 1) return
    const photographer = foundPhotographers.value.filter(p => p.acc == ids[0])
    if (photographer.length < 1) return
    actionBus.send(NavigationAction.Push, {
        view: 'select-photographer-server',
        data: {photographer: photographer[0]},
    })
}

function addManualPhotographer() {
    trigger(blurTrigger)
    const photographer = <Photographer>{
        name: currentQuery.value,
        acc: "",
        avatar: "",
        displayName: currentQuery.value,
        profile: "",
        posts: 0,
    }
    actionBus.send(NavigationAction.Push, {
        view: 'select-photographer-server',
        data: {photographer},
    })
}

</script>

<template>
    <div class="view">
        <TextBox 
            placeholder="@user@example.org"
            :focus="focusTrigger"
            :blur="blurTrigger"
            :on-change="updateSearch"
            tooltip-key="search"
            ></TextBox>
        <List 
            :items="photographerList"
            :cell="PhotographerCell"
            :on-select="photographerSelected"
            ></List>
        <SecondaryButton
            v-if="isValidUsername"
            :icon="PlusCircleIcon"
            :text="currentQuery"
            :on-tap="addManualPhotographer"
            ></SecondaryButton>
    </div>
</template>

<style lang="scss" scoped>
.view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: calc(0.5 * var(--units-control-base));

    .am-button-secondary {
        justify-content: flex-start;
    }
}
</style>