<script setup lang="ts">
import TextCell from 'ambient/src/cells/TextCell.vue';
import List from 'ambient/src/containers/List.vue';
import { match, useActionBus } from '@am/traits/ActionBus';
import { computed, onMounted, ref } from 'vue';
import PhotographerCell from '../../components/PhotographerCell.vue';
import ServerConnectionCell from '../../components/ServerConnectionCell.vue';
import { Photographer } from '../../controller/Photographer';
import { getServers } from '../../controller/Preferences';
import { Server } from '../../controller/Server';
import { NavigationAction } from 'ambient/src/traits/Navigation';

const actionBus = useActionBus()

const props = defineProps<{
    photographer: Photographer,
}>()

type ServerItem = {
    key: string,
    server: Server | string,
    username: string,
}
const connectionServers = ref<ServerItem[]>([])
const availableAccounts = ref<Photographer[]>([])

const availableServers = computed(() => {
    return availableAccounts.value.map(p => p.server)
})

function serverFromUsername(username: string) {
    const regex = /@(.*)@([a-zA-Z0-9\-\.]+\.[a-zA-Z0-9\-]+)/
    const match = username.match(regex)
    if (match == null) return null
    return match[2]
}

onMounted(() => {

    const servers = getServers()
    const photographerServer = serverFromUsername(props.photographer.name)
    if (photographerServer != null && !Object.keys(servers).includes(photographerServer)){
        connectionServers.value.push({
            key: photographerServer,
            server: photographerServer,
            username: props.photographer.name,
        })
    }

    Object.keys(servers).forEach(url => {
        const server = servers[url]
        connectionServers.value.push({
            key: url,
            server,
            username: props.photographer.name,
        })
    })

})

actionBus.hook(match({
    "vstock::find-photographer::available": (photographer: Photographer) => {
        availableAccounts.value.push(photographer)
        return false
    }
}))

function selectServer(urls: string) {
    if (urls.length != 1) return
    const url = urls[0]
    if (!availableServers.value.includes(url)) {
        // TODO: display error message
        return
    }
    const account = availableAccounts.value.filter(a => a.server == url)[0]
    actionBus.send(NavigationAction.Push, {
        view: 'connect-photographer',
        data: {photographer: account},
    })
}

</script>

<template>
    <div class="view">
        <PhotographerCell :photographer="photographer"></PhotographerCell>
        <TextCell text-key="connect-via" class="am-strong am-title"></TextCell>
        <List :items="connectionServers" :cell="ServerConnectionCell" :on-select="selectServer"></List>
    </div>
</template>

<style lang="scss" scoped>
.view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: calc(0.5 * var(--units-control-base));
}
</style>