<script setup lang="ts">
import { useActionBus } from '@am/traits/ActionBus';
import { onMounted } from 'vue';
import { getServers } from './controller/Preferences';
import { connectClient } from './controller/ServerRepository';
import NavigationStack from 'ambient/src/containers/NavigationStack.vue';
import DialogStack from 'ambient/src/containers/DialogStack.vue';
import PlacesView from 'ambient/src/containers/PlacesView.vue';

const actionBus = useActionBus()

onMounted(() => {
    const servers = Object.values(getServers())
    servers.forEach(s => connectClient(s))

    checkOnboarding()
})

function checkOnboarding() {
    // if (navigator.platform == 'iPhone' || navigator.platform == 'iPad') {
    //     if (!(navigator as any).standalone) {
    //         actionBus.send(NavigationAction.PushState, {
    //             graph: [
    //                 {
    //                     name: 'main',
    //                     view: 'add-to-homescreen',
    //                     key: 'add-to-homescreen'
    //                 }
    //             ]
    //         })
    //     }
    // }
}


</script>

<template>

    <DialogStack>
        <PlacesView>
            <NavigationStack></NavigationStack>
        </PlacesView>
    </DialogStack>

</template>

